<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/checkbox.css">
    <link rel="stylesheet" href="styles/index.css">
    <title>Colorful Bulb</title>
    <script src="https://unpkg.com/htmx.org@1.9.3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/cash-dom/dist/cash.min.js"></script>

</head>

<body class="background-container">
    <h1 class="title">Backdrop Blend</h1>
    <div class="container">
        <h3>Live Mode</h3>
        <div class="toggle-wrapper">
            <input class="toggle-checkbox" type="checkbox" id="toggle-checkbox" onchange="toggleColour()">
            <div class="toggle-container">
                <div class="toggle-button">
                    <div class="toggle-button-circles-container">
                        <div class="toggle-button-circle"></div>
                        <div class="toggle-button-circle"></div>
                        <div class="toggle-button-circle"></div>
                        <div class="toggle-button-circle"></div>
                        <div class="toggle-button-circle"></div>
                        <div class="toggle-button-circle"></div>
                        <div class="toggle-button-circle"></div>
                        <div class="toggle-button-circle"></div>
                        <div class="toggle-button-circle"></div>
                        <div class="toggle-button-circle"></div>
                        <div class="toggle-button-circle"></div>
                        <div class="toggle-button-circle"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-container">
            <div class="card">

            </div>
        </div>

    </div>




    <script src="scripts/index.js"></script>

</body>

</html>